
@{
    ViewBag.Title = "AdminIndex";
}



<div class="MyJumbotron jumbotron">
    <div class="container">
        <h2>Coll stuff to mess with as an admin!</h2>
        <ul class="nav nav-pills nav-stacked">
            <li class="active">@Html.ActionLink("Create new Package Type", "NewPackageType", "Admin", null, new { @class = "btn btn-default" })</li>
            <li>@Html.ActionLink("Create new Package", "NewPackage", "Admin", null, new { @class = "btn btn-default" })</li>
            <li>@Html.ActionLink("Create new component", "NewComponent", "Admin", null, new { @class = "btn btn-default" })</li>
            <li>@Html.ActionLink("Create new component Type", "NewComponentType", "Admin", null, new { @class = "btn btn-default" })</li>
            <li>@Html.ActionLink("Edit Packages & components", "EditPackage", "Edit", null, new { @class = "btn btn-default" })</li>
            <li>@Html.ActionLink("Edit Orders", "AllOrders", "Edit", null, new { @class = "btn btn-default" })</li>
        </ul>
    </div>
</div>





