@model DemoApp.Domain.Order

@{
    ViewBag.Title = "EditOrder";
}

<h2>Edit the Order</h2>

@using (Html.BeginForm("OrderEdited", "Edit", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">Edit The Order</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.PackageId)


                <div class="form-group">
                    @Html.LabelFor(model => model.OrderCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.OrderCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(x => x.OrderCode)
                        @Html.ValidationMessageFor(model => model.OrderCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrderState, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.OrderState, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrderState, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(x => x.DeliveryDate)
                        @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FinalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.FinalPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(x => x.FinalPrice)
                        @Html.ValidationMessageFor(model => model.FinalPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.HiddenFor(x => x.Customer)
                        @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-danger" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<div class="row">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Admin Home", "AdminIndex", "Admin")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>
</div>
