@model IEnumerable<DemoApp.Domain.Component>

@{
    ViewBag.Title = "EditAComponent";
}

<h2>EditAComponent</h2>

<p>
    @Html.ActionLink("Create New", "NewComponent","Admin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditComponent", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Items", "GetAllComponentTypes", new { id=item.Id })
        </td>
    </tr>
}

</table>
