@model DemoApp.web.Models.MyCart

<div class="MyItemBox">  
        @if (Model.ListTypes.Count != 0)
        {
            using (Html.BeginForm("SendOrderViewResult","CreatePackage", FormMethod.Post))
            {

                @Html.HiddenFor(x => x.PackObject.Id)

                <h3>Your selected items </h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Delivery days</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.ListTypes)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.DeliveryDate.Day</td>
                            </tr>
                        }

                        <tr>
                            <td><strong>Your total price is Kr. @Model.BasicPrice</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Total components selected : @Model.ListTypes.Count</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <input id="Submit1" type="submit" value="submit" />
                            </td>
                        </tr>
                    </table>
            }
        }
</div>