@*@using DemoApp.Domain
@model DemoApp.web.Models.PackageViewModel

@{
    ViewBag.Title = "New Package";
    Layout = "~/Views/Shared/Layouts/_root.cshtml";
}


@using (Html.BeginForm()) 
{
   
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Package</h4>
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading"> <strong>@Model.Package.Name </strong> </div>
            <div class="panel-body">
                <p>
                    <strong>Description:</strong>  <br/> @Model.Package.Description
                </p>
                <p>
                    <strong>Initial Price:</strong> <br/>Kr. @Model.Package.InitialPrice 
                </p>
                
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-primary text-center">
                            <div class="panel-heading">
                                <h1>Hard Drive</h1>
                            </div>
                            <div class="panel-body">
                                @Html.DropDownListFor(x => x.ChoosenHardDriveComponentType, Model.SelectHardDrive, "-- Select Component --", new { @class = "form-control" })
                            </div>
                            <div class="panel-footer">
                                ***
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Graphic Card</h1>
                            </div>
                            <div class="panel-body">
                                @Html.DropDownListFor(x => x.ChoosenGraphicCardComponentTypeComponentType, Model.SelectGraphicCard, "-- Select Component --", new { @class = "form-control" })
                            </div>
                            <div class="panel-footer">
                                ***
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Memory Ram</h1>
                            </div>
                            <div class="panel-body">
                                @Html.DropDownListFor(x => x.ChoosenMemoryRamComponentType, Model.SelectMemoryRam, "-- Select Component --", new { @class = "form-control" })
                            </div>
                            <div class="panel-footer">
                                ***
                            </div>
                        </div>
                    </div>
                </div>
                

               
                  
                
            </div>
            <hr/>
            <div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>*@
